.Reminder {
    font-family: 'Arial', sans-serif;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .Reminder h1 {
    color: #4c51af;
    font-size: 2.5em;
    margin-bottom: 20px;
  }
  
  .Reminder label {
    display: block;
    margin-bottom: 5px;
    color: #555;
  }
  
  .Reminder input {
    width: 50%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
  }
  
  .Reminder button {
    background-color: #4c51af;
    color: white;
    padding: 10px 20px;
    font-size: 1.2em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .Reminder button:hover {
    background-color: #4c51af;
  }
  
  .Reminder h2 {
    color: #4c51af;
    font-size: 1.8em;
    margin-top: 20px;
  }
  
  .Reminder ul {
    list-style: none;
    padding: 0;
  }
  
  .Reminder li {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    transition: opacity 0.5s ease-out;
  }
  
  .Reminder li.taken {
    background-color: #f2f2f2;
    opacity: 0;
  }
  
  .Reminder input[type="checkbox"] {
    width: 20px;
    height: 20px;
    margin-right: 5px;
  }
  
  .Reminder .fade-out {
    opacity: 0 !important;
  }
  
  /* Additional styles for the days-section */
  .Reminder .days-section {
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;
  }
  
  .Reminder .days-section label {
    flex-grow: 1;
    margin: 0;
    text-align: center;
  }
  
  /* Adjust the spacing or add other styles as needed */
  